* {
  font-family: arial;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.verse-wrapper {
	width: 900px;
	padding: 10px 15px;
	line-height: 35px;
	border: 1px #000 dashed;
}