@import "../node_modules/bulma/bulma.sass";

* {
  font-family: arial;
}

html, body {
	height: 100%;
	background: #ffffff;
}

h4 {
	display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 22px !important;
}

#app {
  font-weight: normal;
	height: 100%;
}

.logo {
	color: #ffffff;
	font-weight: bold;
  float: left;
  width: 200px;
  height: 31px;
  margin: 0;
}

.selector {
	margin: 25px 0 0 0;
}

.side-nav {
	background: #f9f9f9;
	width: 100%;
	height: 100%;
	padding: 2rem 25px 25px 25px;
}

.control {
	margin: 0 10px 0 0 !important;
}

.book-select {
	width: 155px;
}

.chapter-select, .verse-select {
	width: 75px;
}

.show-chapter,
.show-cf,
.show-images {
	margin: 0 7px 0 0;
	font-size: 14px;
	color: #a0a0a0;
}

.message.is-dark,
.message.is-info {
	margin: 25px 0 0 0 !important;
	
	.message-body {
		position: relative;
		font-size: 30px !important;
	}
}

.message.is-info {
	.message-body {
		font-size: 22px !important;
	}
}

.tooltip-1 {
	position: absolute;
	top: 25px;
	right: 25px;
	font-size: 28px;
	color: #1890ff;
	cursor: pointer;
}

.tooltip-2 {
	display: inline-block;
	margin: 0 0 0 10px;
	font-size: 16px;
	color: #1890ff;
	cursor: pointer;
}

.list {
	font-size: 18px;
}

.menu-list li a {
	font-size: 14px;
}

.collapse {
	margin: 25px 0 0 0 !important;
	display: inline-block;
	cursor: pointer;
}

.collapse__button {
	display: inline-block;
	width: 22px;
	line-height: 22px;
}