@import "../node_modules/bulma/bulma.sass";

* {
  font-family: arial;
}

html, body {
	height: 100%;
}

#app {
  font-weight: normal;
	height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 11.25rem 1fr 11.25rem;
  height: 100%;
}

.middle {
	max-width: 1344px;
  margin: 0 auto;
  padding: 2rem;
}

.side-nav {
	background: #f9f9f9;
	width: 11.25rem;
	padding: 2rem 25px 25px 25px;
}

.menu-list li a {
	font-size: 14px;
}